
body{
	font-family: arial;
}
#heading{
	text-align: center;
	padding-bottom: 10px;
}
*{box-sizing: border-box;}
.box{
	background-color: grey;
	height: auto;
	
	padding: 10px;
	border: 1px solid black;
	margin: 10px;


}
.boxhead{
	float: right;
	border: 1px solid black;
	position: relative;
	top: -30px;
	right: -10px;
	background-color: yellow;
	padding: 5px;
	text-align: center;
}
@media (min-width: 992px) {
	.col-lg-3, .col-ms-2, .col-sm-1{
		float: left;
	}
	.col-lg-3{
		width: 33.33%;
	}

} 
@media(min-width: 768px) and (max-width: 991px)
{
	.col-lg-3, .col-ms-2, .col-sm-1{
		float: left;
	}
	.col-ms-2{
		width: 50%;
	}
	.col-ms-4{
		width: 100%;
	}
}
@media (max-width: 767px)
{ .col-sm-1{
	float: left;
	width: 100%;
}


}
